.card{
    cursor: pointer;
    width: 90%;
}

mdb-badge{
    position:absolute;
    z-index:22;
    font-size:18px;
    margin:5px;
    margin-left:-49%;
    padding-left: 2%;
    padding-right: 2%;

}